
!algs4
algs4/*
!algs4-data
algs4-data/*

# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Eclipse template
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/
.idea/
*.imi

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

algorithms.iml
algs4-data/
algs4/COPYING
algs4/META-INF/
algs4/TestAlgs4.java
algs4/edu/princeton/cs/algs4/AVLTreeST.java
algs4/edu/princeton/cs/algs4/Accumulator.java
algs4/edu/princeton/cs/algs4/AcyclicLP.java
algs4/edu/princeton/cs/algs4/AcyclicSP.java
algs4/edu/princeton/cs/algs4/AdjMatrixEdgeWeightedDigraph.java
algs4/edu/princeton/cs/algs4/Alphabet.java
algs4/edu/princeton/cs/algs4/AmericanFlag.java
algs4/edu/princeton/cs/algs4/AmericanFlagX.java
algs4/edu/princeton/cs/algs4/Arbitrage.java
algs4/edu/princeton/cs/algs4/AssignmentProblem.java
algs4/edu/princeton/cs/algs4/Average.java
algs4/edu/princeton/cs/algs4/BST.java
algs4/edu/princeton/cs/algs4/BTree.java
algs4/edu/princeton/cs/algs4/Bag.java
algs4/edu/princeton/cs/algs4/BellmanFordSP.java
algs4/edu/princeton/cs/algs4/BinaryDump.java
algs4/edu/princeton/cs/algs4/BinaryIn.java
algs4/edu/princeton/cs/algs4/BinaryInsertion.java
algs4/edu/princeton/cs/algs4/BinaryOut.java
algs4/edu/princeton/cs/algs4/BinarySearch.java
algs4/edu/princeton/cs/algs4/BinarySearchST.java
algs4/edu/princeton/cs/algs4/BinaryStdIn.java
algs4/edu/princeton/cs/algs4/BinaryStdOut.java
algs4/edu/princeton/cs/algs4/BinomialMinPQ.java
algs4/edu/princeton/cs/algs4/Bipartite.java
algs4/edu/princeton/cs/algs4/BipartiteMatching.java
algs4/edu/princeton/cs/algs4/BipartiteX.java
algs4/edu/princeton/cs/algs4/BlackFilter.java
algs4/edu/princeton/cs/algs4/BoruvkaMST.java
algs4/edu/princeton/cs/algs4/BoyerMoore.java
algs4/edu/princeton/cs/algs4/BreadthFirstDirectedPaths.java
algs4/edu/princeton/cs/algs4/BreadthFirstPaths.java
algs4/edu/princeton/cs/algs4/CC.java
algs4/edu/princeton/cs/algs4/CPM.java
algs4/edu/princeton/cs/algs4/Cat.java
algs4/edu/princeton/cs/algs4/ClosestPair.java
algs4/edu/princeton/cs/algs4/CollisionSystem.java
algs4/edu/princeton/cs/algs4/Complex.java
algs4/edu/princeton/cs/algs4/Count.java
algs4/edu/princeton/cs/algs4/Counter.java
algs4/edu/princeton/cs/algs4/Cycle.java
algs4/edu/princeton/cs/algs4/Date.java
algs4/edu/princeton/cs/algs4/DeDup.java
algs4/edu/princeton/cs/algs4/DegreesOfSeparation.java
algs4/edu/princeton/cs/algs4/DepthFirstDirectedPaths.java
algs4/edu/princeton/cs/algs4/DepthFirstOrder.java
algs4/edu/princeton/cs/algs4/DepthFirstPaths.java
algs4/edu/princeton/cs/algs4/DepthFirstSearch.java
algs4/edu/princeton/cs/algs4/Digraph.java
algs4/edu/princeton/cs/algs4/DigraphGenerator.java
algs4/edu/princeton/cs/algs4/DijkstraAllPairsSP.java
algs4/edu/princeton/cs/algs4/DijkstraSP.java
algs4/edu/princeton/cs/algs4/DijkstraUndirectedSP.java
algs4/edu/princeton/cs/algs4/DirectedCycle.java
algs4/edu/princeton/cs/algs4/DirectedCycleX.java
algs4/edu/princeton/cs/algs4/DirectedDFS.java
algs4/edu/princeton/cs/algs4/DirectedEdge.java
algs4/edu/princeton/cs/algs4/DirectedEulerianCycle.java
algs4/edu/princeton/cs/algs4/DirectedEulerianPath.java
algs4/edu/princeton/cs/algs4/DoublingRatio.java
algs4/edu/princeton/cs/algs4/DoublingTest.java
algs4/edu/princeton/cs/algs4/Draw.java
algs4/edu/princeton/cs/algs4/DrawListener.java
algs4/edu/princeton/cs/algs4/Edge.java
algs4/edu/princeton/cs/algs4/EdgeWeightedDigraph.java
algs4/edu/princeton/cs/algs4/EdgeWeightedDirectedCycle.java
Would remo
ve algs4/edu/princeton/cs/algs4/EdgeWeightedGraph.java
algs4/edu/princeton/cs/algs4/EulerianCycle.java
algs4/edu/princeton/cs/algs4/EulerianPath.java
algs4/edu/princeton/cs/algs4/FFT.java
algs4/edu/princeton/cs/algs4/FarthestPair.java
algs4/edu/princeton/cs/algs4/FenwickTree.java
algs4/edu/princeton/cs/algs4/FibonacciMinPQ.java
algs4/edu/princeton/cs/algs4/FileIndex.java
algs4/edu/princeton/cs/algs4/FlowEdge.java
algs4/edu/princeton/cs/algs4/FlowNetwork.java
algs4/edu/princeton/cs/algs4/FloydWarshall.java
algs4/edu/princeton/cs/algs4/FordFulkerson.java
algs4/edu/princeton/cs/algs4/FrequencyCounter.java
algs4/edu/princeton/cs/algs4/GREP.java
algs4/edu/princeton/cs/algs4/GabowSCC.java
algs4/edu/princeton/cs/algs4/GaussJordanElimination.java
algs4/edu/princeton/cs/algs4/GaussianElimination.java
algs4/edu/princeton/cs/algs4/Genome.java
algs4/edu/princeton/cs/algs4/GlobalMincut.java
algs4/edu/princeton/cs/algs4/GrahamScan.java
algs4/edu/princeton/cs/algs4/Graph.java
algs4/edu/princeton/cs/algs4/GraphGenerator.java
algs4/edu/princeton/cs/algs4/GrayscalePicture.java
algs4/edu/princeton/cs/algs4/Heap.java
algs4/edu/princeton/cs/algs4/HexDump.java
algs4/edu/princeton/cs/algs4/HopcroftKarp.java
algs4/edu/princeton/cs/algs4/Huffman.java
algs4/edu/princeton/cs/algs4/In.java
algs4/edu/princeton/cs/algs4/IndexBinomialMinPQ.java
algs4/edu/princeton/cs/algs4/IndexFibonacciMinPQ.java
algs4/edu/princeton/cs/algs4/IndexMaxPQ.java
algs4/edu/princeton/cs/algs4/IndexMinPQ.java
algs4/edu/princeton/cs/algs4/IndexMultiwayMinPQ.java
algs4/edu/princeton/cs/algs4/InplaceMSD.java
algs4/edu/princeton/cs/algs4/Insertion.java
algs4/edu/princeton/cs/algs4/InsertionX.java
algs4/edu/princeton/cs/algs4/Interval1D.java
algs4/edu/princeton/cs/algs4/Interval2D.java
algs4/edu/princeton/cs/algs4/Inversions.java
algs4/edu/princeton/cs/algs4/KMP.java
algs4/edu/princeton/cs/algs4/KWIK.java
algs4/edu/princeton/cs/algs4/Knuth.java
algs4/edu/princeton/cs/algs4/KosarajuSharirSCC.java
algs4/edu/princeton/cs/algs4/KruskalMST.java
algs4/edu/princeton/cs/algs4/LSD.java
algs4/edu/princeton/cs/algs4/LZW.java
algs4/edu/princeton/cs/algs4/LazyPrimMST.java
algs4/edu/princeton/cs/algs4/LinearProbingHashST.java
algs4/edu/princeton/cs/algs4/LinearProgramming.java
algs4/edu/princeton/cs/algs4/LinearRegression.java
algs4/edu/princeton/cs/algs4/LinkedBag.java
algs4/edu/princeton/cs/algs4/LinkedQueue.java
algs4/edu/princeton/cs/algs4/LinkedStack.java
algs4/edu/princeton/cs/algs4/LongestCommonSubstring.java
algs4/edu/princeton/cs/algs4/LongestRepeatedSubstring.java
algs4/edu/princeton/cs/algs4/LookupCSV.java
algs4/edu/princeton/cs/algs4/LookupIndex.java
algs4/edu/princeton/cs/algs4/MSD.java
algs4/edu/princeton/cs/algs4/MaxPQ.java
algs4/edu/princeton/cs/algs4/Merge.java
algs4/edu/princeton/cs/algs4/MergeBU.java
algs4/edu/princeton/cs/algs4/MergeX.java
algs4/edu/princeton/cs/algs4/MinPQ.java
algs4/edu/princeton/cs/algs4/Multiway.java
algs4/edu/princeton/cs/algs4/MultiwayMinPQ.java
algs4/edu/princeton/cs/algs4/NFA.java
algs4/edu/princeton/cs/algs4/NonrecursiveDFS.java
algs4/edu/princeton/cs/algs4/NonrecursiveDirectedDFS.java
algs4/edu/princeton/cs/algs4/Out.java
algs4/edu/princeton/cs/algs4/Particle.java
Wou
ld remove algs4/edu/princeton/cs/algs4/PatriciaSET.java
algs4/edu/princeton/cs/algs4/PatriciaST.java
algs4/edu/princeton/cs/algs4/Picture.java
algs4/edu/princeton/cs/algs4/PictureDump.java
algs4/edu/princeton/cs/algs4/Point2D.java
algs4/edu/princeton/cs/algs4/Polynomial.java
algs4/edu/princeton/cs/algs4/PrimMST.java
algs4/edu/princeton/cs/algs4/Queue.java
algs4/edu/princeton/cs/algs4/Quick.java
algs4/edu/princeton/cs/algs4/Quick3string.java
algs4/edu/princeton/cs/algs4/Quick3way.java
algs4/edu/princeton/cs/algs4/QuickBentleyMcIlroy.java
algs4/edu/princeton/cs/algs4/QuickFindUF.java
algs4/edu/princeton/cs/algs4/QuickUnionUF.java
algs4/edu/princeton/cs/algs4/QuickX.java
algs4/edu/princeton/cs/algs4/RabinKarp.java
algs4/edu/princeton/cs/algs4/RandomSeq.java
algs4/edu/princeton/cs/algs4/RectHV.java
algs4/edu/princeton/cs/algs4/RedBlackBST.java
algs4/edu/princeton/cs/algs4/ResizingArrayBag.java
algs4/edu/princeton/cs/algs4/ResizingArrayQueue.java
algs4/edu/princeton/cs/algs4/ResizingArrayStack.java
algs4/edu/princeton/cs/algs4/RunLength.java
algs4/edu/princeton/cs/algs4/SET.java
algs4/edu/princeton/cs/algs4/ST.java
algs4/edu/princeton/cs/algs4/SegmentTree.java
algs4/edu/princeton/cs/algs4/Selection.java
algs4/edu/princeton/cs/algs4/SeparateChainingHashST.java
algs4/edu/princeton/cs/algs4/SequentialSearchST.java
algs4/edu/princeton/cs/algs4/Shell.java
algs4/edu/princeton/cs/algs4/SparseVector.java
algs4/edu/princeton/cs/algs4/Stack.java
algs4/edu/princeton/cs/algs4/StaticSETofInts.java
algs4/edu/princeton/cs/algs4/StdArrayIO.java
algs4/edu/princeton/cs/algs4/StdAudio.java
algs4/edu/princeton/cs/algs4/StdDraw.java
algs4/edu/princeton/cs/algs4/StdIn.java
algs4/edu/princeton/cs/algs4/StdOut.java
algs4/edu/princeton/cs/algs4/StdRandom.java
algs4/edu/princeton/cs/algs4/StdStats.java
algs4/edu/princeton/cs/algs4/Stopwatch.java
algs4/edu/princeton/cs/algs4/StopwatchCPU.java
algs4/edu/princeton/cs/algs4/SuffixArray.java
algs4/edu/princeton/cs/algs4/SuffixArrayX.java
algs4/edu/princeton/cs/algs4/SymbolDigraph.java
algs4/edu/princeton/cs/algs4/SymbolGraph.java
algs4/edu/princeton/cs/algs4/TST.java
algs4/edu/princeton/cs/algs4/TarjanSCC.java
algs4/edu/princeton/cs/algs4/ThreeSum.java
algs4/edu/princeton/cs/algs4/ThreeSumFast.java
algs4/edu/princeton/cs/algs4/TopM.java
algs4/edu/princeton/cs/algs4/Topological.java
algs4/edu/princeton/cs/algs4/TopologicalX.java
algs4/edu/princeton/cs/algs4/Transaction.java
algs4/edu/princeton/cs/algs4/TransitiveClosure.java
algs4/edu/princeton/cs/algs4/TrieSET.java
algs4/edu/princeton/cs/algs4/TrieST.java
algs4/edu/princeton/cs/algs4/TwoPersonZeroSumGame.java
algs4/edu/princeton/cs/algs4/UF.java
algs4/edu/princeton/cs/algs4/Vector.java
algs4/edu/princeton/cs/algs4/WeightedQuickUnionUF.java
algs4/edu/princeton/cs/algs4/WhiteFilter.java
algs4/edu/princeton/cs/algs4/Whitelist.java
src/
